<div class="container">
    <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-3">
      <div class="section-login text-center">
        <div class="brand-logo1"></div>
        <div class="brand-title">Login</div>
        <div class="form-wrapper">
          <!-- Your form code here -->
          {{ page.content}}
        </div>
          <div class="user-links">
                    <div class="brand-title">  
                        <div><a href="{{ url('<front>') }}user/password" class="forgot-password">Reset your password</a></div>
                        <div><a href="{{ url('<front>') }}/supplier/register" class="create-account">Create new account</a></div>
                    </div>
                </div>
      </div>
    </div>
  </div>
</div>
