<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-4">
            <div class="section-user-register text-center">
                <div class="brand-logo1"></div>
                <div class="brand-title">Registration</div>
                <div class="form-wrapper">
                    <!-- Your form code here -->
                    {{ page.content}}
                </div>
                
              
            </div>
        </div>
    </div>
</div>


